@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

:root {
    --font-base: 'Julee', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
